body{
    font-family: Inter;
    background-color: #2B2B2B;
    background-image: url(/codigo-fonte/assets/images/Ondas.svg);
    display: grid;
    grid-template-columns: repeat(1fr, 3) ;
    grid-template-rows: 50px repeat(1fr, 3);
    grid-template-areas: 
    "aside section section"
    "aside section section"
    "aside section section"
    "aside section section"
    ;
    grid-gap: 1vw;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
    grid-area: section;
    grid-column: section;
}

.cards{
    display: flex;
    gap: 0% 13%;
    flex-wrap: wrap;
    justify-content: center;
}

.card-aula{
    display: flex;
    flex-basis: 100%;
    align-items: end;
    margin-bottom: 80px;
    max-width: 20rem;
    width: 26%;
    height: 60vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(/codigo-fonte/assets/images/zumba.jpg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border-radius: 0px 0px 10px 10px;
    background: rgba(18, 17, 17, 0.39);
    backdrop-filter: blur(3.5px);
    color: #D9D9D9;
    font-style: normal;
    font-size: 100%;
}

.break{
    width: 26%;
    margin-bottom: 50px;
    max-width: 20rem;
}

.info{
    width: 100%;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.modal-header{
    display: flex;
    justify-content: center;
    color: #3C3C3C;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 4rem;
    text-align: center;
}

select{
    margin-bottom: 40px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 7px;
    height: 6vh;
    border: 2px solid var(--project-01);
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
    color: #707070;
    font-weight: bold;
    font-size: 20px;
    outline: none !important;
    padding-left: 20px;
}

#button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 5;
}

#open-modal{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    width: 28%;
    height: 3.5rem;
    background-color: #C10000;
    border: transparent;
    border-radius: 19px;
    color:#D9D9D9;
    font-size: 150%;
}

#close-modal{
    cursor: pointer;
    width: 160px;
    height: 6vh;
    background-color: #C10000;
    border: transparent;
    border-radius: 17px;
    color: #D9D9D9;
    font-size: 150%;
    font-weight: 600;
}

#add-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: #B3B3B3;
    width: 500px;
    max-width: 90%;
    border-radius: 30px;
    height: 80%;
    padding: 40px;
    gap: 40px;
}

#add-modal.hide,
#fade.hide{
    opacity: 0;
    pointer-events: none;
}

#add-modal.hide{
    top: 0;
}

.sidebar {
    grid-area: aside;
    grid-column: aside;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #292929 0%, #B4B4B4 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    color: #ffffff;
    width: 200px; 
    height: 100vh; 
    position: fixed;
}

.logo {
    width: 167.784px;
    height: 29.091px;
    padding: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a{
    text-decoration: none;
}

.menu li {
    padding: 50px 20px 28px 20px;
    position: relative;
}

.menu li.active {
    background-color: #ff0000;
}

.menu button img {
    margin-right: 20px;
}

@media (max-width: 674px) {
    body {
        grid-template-columns: 1fr; 
        grid-template-areas: 
            "aside"
            "section"
            ;
    }

    .sidebar {
        width: 100%;
        position: static; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 100%;
        margin: 0;
    }
} 

.sidebar .menu .Aulas{
cursor: pointer;
width: 158px;
height: 51px;
background-color: #C10000;
box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
border: transparent;
border-radius: 19px;
color: #D9D9D9;
font-size: 150%;
font-weight: 600;
flex-direction: row;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-shrink: 0;
}

.sidebar .menu .Perfil{
    cursor: pointer;
    width: 160px;
    height: 6vh;
    background-color: transparent;
    border: transparent;
    border-radius: 19px;
    color: #D9D9D9;
    font-size: 150%;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sidebar .menu .Agenda{
    cursor: pointer;
    width: 160px;
    height: 6vh;
    background-color: transparent;
    border: transparent;
    border-radius: 19px;
    color: #D9D9D9;
    font-size: 150%;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}