.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #ffffff;
    width: 200px; /* Define a largura da barra lateral */
    height: 100vh; /* Faz a barra lateral ocupar toda a altura da janela de visualização */
    position: fixed; /* Fixa a barra lateral à esquerda da página */
}

.logo {
    padding: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu li.active {
    background-color: #ff0000;
}